<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @album.image.url(:medium), class:"album-show" %>
        <div class="star-rating" data-score= <%= @avg_rating %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
          <td><strong>Title:</strong></td>
          <td><%= @album.title %></td>
                  </tr>
                  <tr>
          <td><strong> Description: </strong></td>
          <td><%= @album.description %></td>
          </tr>
          <tr>
            <td><strong>Artist:</strong></td>
             <td><%= @album.artist %></td>
           </tr>
          </tbody>
          </table>
          <%= link_to "Write a review", new_review_path(@album) %>
          </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @album.title %></h1>
        <p><%= @album.description %></p>

        <% if @reviews.blank? %>
        <h3> No reviews just yet, would you like to add the first review? </h3>
        <%= link_to "Write review", new_review_path(@album), class: "btn btn-danger" %>
        <% else %>
        <% @reviews.each do |review| %>
        <div class="reviews">
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <p><%= review.comment %></p>
          </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
  }
});

</script>
